@model reserva_de_sala_dsm.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1>Detalhes do Usuário</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Admnistrador" class="control-label">Administrador?</label>
            <select asp-for="Admnistrador" class="form-control">
                <option value="true">Sim</option>
                <option value="false" selected>Não</option>
            </select>
            <span asp-validation-for="Admnistrador" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Editar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>